table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}
tr {
	border-bottom: solid 1px rgb(185, 185, 185);
}
td {

	padding: 5px;
}
tbody {
	text-align: center;
}
tfoot {
	text-align: right;
}

.hide{
	display: var(--td-view);
}