.header {
	width: var(--page-width);
	margin: auto;
    text-align: center;
	align-items: center;
}

.header h1 {
    display: inline-block;
	color: var(--main-color);
	/* background: var(--secondary-color); */
	font-size: var(--header-h1-font-size);
	line-height: var(	--header-h1-font-size);
	font-weight: 700;
	margin: 0 5px 24px;
	/* float: left; */
	padding: 0.7rem;
	font-family: var(--primary-font-family);
}
